# Desenvolvimento local:
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pi_t6_g8

# Alternativa: configure as variáveis ao invés de DATABASE_URL
# PGHOST=localhost
# PGPORT=5432
# PGUSER=postgres
# PGPASSWORD=postgres
# PGDATABASE=pi_t6_g8

# Configurações da aplicação
PORT=3000
NODE_ENV=development

# Opcional: defina como true se seu servidor PostgreSQL exigir SSL
PGSSL=false

# Optional: in local dev, create PGDATABASE automatically if it does not exist
AUTO_CREATE_DB=true

